<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <footer>
  <div style="text-align:center; border-top: 1px dashed #b5e853; padding: 20px 0; margin: 0 0 0 0;">
  [
  <a href="https://www.github.com/jijoderick">Github</a> |
  <a href="https://twitter.com/jijoderick">Twitter</a> |
  <a href="https://www.linkedin.com/in/jijo-derick-abraham-6914a7157/">LinkedIn</a> |
  <a href="https://scholar.google.com/citations?user=RDj6OYEAAAAJ&hl=en">Google Scholar</a>

  ]
  </div>
  </footer>

  </body>
</html>